.counterButton {
  font-size: 16px;
  background-color: blueviolet;
  width: 100px;
  margin: 10px;
  color: aliceblue;
  padding: 15px;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
}

.count {
  font-size: 150px;
  padding: 20px;
}
